<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body class="body">
  <% include ./partials/_adminheader.ejs %>
  <div id="table-container">
  <a href="/paquetes/nuevo">Capturar</a>
  <div id="table">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Paquetes</div>
  <!-- Table -->
    <table class="table">
        <tr>
      <td>id</td>
      <td>Cuenta</td>
     <td>Fletera</td>
      <td>Tracking Number</td>
      <td>Recibido</td>
      <td>Entregado</td>
     </tr>
    <% for(var i=0; i<paquetes.length; i++) {%>
    <tr>
      <td><%= paquetes[i].paquete_id %></td>
      <td><%= paquetes[i].usuario %></td>
     <td><%= paquetes[i].fletera %></td>
      <td><%= paquetes[i].tracking_number %></td>
      <td><%= paquetes[i].fecha_recepcion %></td>
      <td><%= paquetes[i].entregado %></td>
      <td><a href="paquetes/<%= paquetes[i].id %>"><span class="glyphicon glyphicon-edit"></span></a></td>
      <td><a href="paquetes/<%= paquetes[i].id %>"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
     </tr>
    <% } %>
    </table>
  </div>
</div>
</body>
</html>
